.block {
    width: var(--block-size);
    height: var(--block-size);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: margin 0.25s;
    animation: show 0.5s 1;
    animation-fill-mode: forwards;
    margin-left: calc(var(--block-size) * var(--position-x));
    margin-top: calc(var(--block-size) * var(--position-y));
    
    font-size: calc(var(--block-size) * 0.72);
}

@keyframes show{
    0% { opacity:0; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.block__text {
    font-weight: bold;
    color: white;
    user-select: none;
}

.block__text_digits-count_1 {
    font-size: 1em;
}

.block__text_digits-count_2 {
    font-size: .88em;
}

.block__text_digits-count_3 {
    font-size: .66em;
}

.block__text_digits-count_4 {
    font-size: .44em;
}

.block_value_0 {
    background-color: gray;
}

.block_value_1 {
    background-color: gray;
}

.block_value_2 {
    background-color: teal;
}

.block_value_4 {
    background-color: navy;
}

.block_value_8 {
    background-color: maroon;
}

.block_value_16 {
    background-color: brown;
}

.block_value_32 {
    background-color: olive;
}

.block_value_64 {
    background-color: red;
}

.block_value_128 {
    background-color: orange;
}

.block_value_256 {
    background-color: black;
}

.block_value_512 {
    background-color: lime;
}

.block_value_1024 {
    background-color: green;
}

.block_value_2048 {
    background-color: purple;
}
