.button {
    background-color: brown;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
}

.button:hover {
    background-color: crimson;
}

@media (hover: none) {
    .button:hover { background-color: brown; }
}
