.map {
    background: silver;
    border: 2px solid gray;
    --block-size: calc(var(--map-size) / var(--map-dimension));
    width: var(--map-size);
    height: var(--map-size);
    margin: auto;
    touch-action: none;
}
