.title {
    margin: 0;
    text-align: center;
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: -5px;
}

.title a {
    text-decoration: none;
}
