.app {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      'title step-count score'
      'map map map';
    grid-gap: 1em;
}

.app__title {
    grid-area: title;
}

.app__title h1 {
    margin: 0;
    text-align: center;
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.app__title h1 a {
    text-decoration: none;
}

.app__map {
    grid-area: map;
}

.app__step-count {
    grid-area: step-count;
}

.app__score {
    grid-area: score;
}