.app {
    display: grid;
    margin: 10px;
    grid-gap: 1em;
    --map-size: 90vmin;
    align-items: center;

    font-family: 'Courier New', Courier, monospace;
}

@media (orientation: portrait) {
    .app {
        grid-gap: .5em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            'title          score    step-count'
            'restart-button score    step-count'
            'map            map      map'
            'language       language language';
    }
}

@media (orientation: landscape) {
    .app {
        grid-template-areas: 
            'title          map'
            'restart-button map'
            'score          map'
            'step-count     map'
            'language       map';
    }
}

@media (min-width: 600px) and (min-height: 600px) {
    .app {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            'title    score    step-count restart-button'
            'map      map      map        map'
            'language language language   language';
        --map-size: 500px;
    }
}

.app__title {
    grid-area: title;
}

.app__map {
    grid-area: map;
}

.app__step-count {
    grid-area: step-count;
}

.app__score {
    grid-area: score;
}

.app__restart-button {
    grid-area: restart-button;
}

.app__language-bar {
    grid-area: language;
}

.app__language-link {
    color: brown;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

.app__language-link:hover {
    color: crimson;
}

@media (hover: none) {
    .app__language-link:hover { color: brown; }
}
