.app {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      'title step-count score'
      'map map map';
    grid-gap: 1em;
}

.app__title {
    grid-area: title;
}

.app__map {
    grid-area: map;
}

.app__step-count {
    grid-area: step-count;
}

.app__score {
    grid-area: score;
}